@import "~bootstrap/scss/bootstrap";

// Fancy gradient input courtesy of https://codepen.io/rikschennink/pen/rpNGyy

.search-container {
  margin: 4em 0;

  @include media-breakpoint-down(sm) {
    margin: 4em 0;
  }

  .logo-text {
    font-size: 6em;
    margin-bottom: 1em;

    @include media-breakpoint-down(sm) {
      font-size: 3em;
    }
  }

  .input {
    position: relative;
    font-size: 2em;
    background: linear-gradient(21deg, #10abff, #1beabd);
    padding: 3px;
    display: inline-block;
    border-radius: 10px;

    @include media-breakpoint-down(sm) {
      font-size: 1.5em;
    }

    *:not(span) {
      position: relative;
      display: inherit;
      border-radius: inherit;
      margin: 0;
      border: none;
      outline: none;
      padding: 0 .325em;
      z-index: 1;

      // summon fancy shadow styles when focussed
      &:focus+span {
        opacity: 1;
        transform: scale(1);
      }
    }

    span {
      transform: scale(.993, .94); // scale it down just a little bit
      transition: transform .5s, opacity .25s;
      opacity: 0; // is hidden by default

      position: absolute;
      z-index: 0; // needs to be below the field (would block input otherwise)
      margin: 4px; // a bit bigger than .input padding, this prevents background color pixels shining through
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: inherit;
      pointer-events: none; // this allows the user to click through this element, as the shadow is rather wide it might overlap with other fields and we don't want to block those.

      // fancy shadow styles
      box-shadow: inset 0 0 0 3px #fff,
        0 0 0 4px #fff,
        3px -3px 30px #1beabd,
        -3px 3px 30px #10abff;
    }

  }

  input {
    font-family: inherit;
    line-height: inherit;
    color: #2e3750;
    min-width: 20em;

    @include media-breakpoint-down(sm) {
      min-width: 10em;
    }
  }

  ::placeholder {
    color: #cbd0d5;
  }
}